{% comment %}

  Use snippet like so...

  {%
    render 'content--cta',
    appearance: 'outline',
    colour: 'dark-grey',
    link: cta_link,
    title: cta_title
  %}

{% endcomment %}

{% if link and title %}

  {% assign target = '_self' %}
  {% if link contains 'http' %}
    {% assign target = '_blank' %}
  {% endif %}

  <div class='cta cta--{{ appearance }}' data-colour-theme='{{ colour }}'>
    <a href='{{ link }}' target='{{ target }}'>{{ title }}</a>
  </div>

{% endif %}

