{% comment %}

  Use snippet like so...

  {%
    render 'content--lazyload-video',
    video_src: false,
    pos: 'inline'
  %}

{% endcomment %}

{% assign classes = 'lazyload-item lazyload-item--video lazyload' %}
{% assign classes = classes | append: ' lazyload-item--' | append: pos %}

{% if video_src %}
  <video class='{{ classes }}' preload='none' muted='' data-autoplay='' data-poster='' src='{{ video_src }}' loop playsinline muted>
    <source src='{{ video_src }}' type='video/mp4'>
  </video>
{% endif %}

