{% comment %}

  Use snippet like so...

  {%
    render 'content--lazyload-image',
    image: false,
    pos: 'inline',
    image_alt: false,
    preload: false,
    responsive: false
  %}

{% endcomment %}

{% assign classes = 'lazyload-item lazyload-item--image' %}
{% assign classes = classes | append: ' lazyload-item--' | append: pos %}
{% assign classes = classes | append: ' lazyload' %}
{% if preload %}
  {% assign classes = classes | append: ' lazypreload' %}
{% endif %}

{% if image %}
  {% if 'inline' == pos %}

    <img
      class='{{ classes }}'
      data-src='{{ image | img_url: '1728x' }}'
      src='{{ image | img_url: '10x' }}'
      {% if responsive %}

        {% assign sizes = "180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048" | split: ', ' %}
        {% assign responsive_sizes = '' %}
        {% for size in sizes %}

          {% assign size_filter = size | append: 'x' %}
          {% assign size_width = size | append: 'w' %}
          {% assign image_src = image | img_url: size_filter %}

          {% assign responsive_sizes = responsive_sizes | append: image_src | append: ' ' | append: size_width %}
          {% if forloop.last != true %}
            {% assign responsive_sizes = responsive_sizes | append: ', ' %}
          {% endif %}

        {% endfor %}

        data-sizes='auto'
        data-srcset='{{ responsive_sizes }}'
      {% endif %}
      {% if image_alt %}
        alt='{{ image_alt }}'
      {% endif %}
    />

  {% else %}

    <div
      class='{{ classes }}'
      data-bg='{{ image | img_url: '1728x' }}'
      style="background-url('{{ image | img_url: '1x' }}');"
    ></div>

  {% endif %}
{% endif %}
