<form class="form {% if form_classes %}{{ form_classes }}{% endif %}"  action="https://kinlodesigns.us2.list-manage.com/subscribe/post?u=f82c8294d6e81c958c42288a7&amp;id=b03f5e3be2" method="post">

  <div class="form__main">
    <div class="form__field">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
    </div>
  </div>

  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f82c8294d6e81c958c42288a7_b03f5e3be2" tabindex="-1" value=""></div>

  <div class="form__action">
    <button class="form__button button" type="submit" name="subscribe">Submit</button>
  </div>

</form>
