{% form 'contact', id: "form--pre-order", class: 'form form--pre-order js--validate-me' %}

  <div class="form__main">

    <div class="form__row" data-layout="two-column">
      <div class="form__field">
        <label>First Name</label>
        <input class="required" type="text" name="contact[first_name]" placeholder="" value="">
      </div>
      <div class="form__field">
        <label>Last Name</label>
        <input class="required" type="text" name="contact[last_name]" placeholder="" value="">
      </div>
    </div>

    <div class="form__row" data-layout="two-column">
      <div class="form__field">
        <label>Email</label>
        <input class="required" type="email" name="contact[email]" placeholder="" value="">
      </div>
      <div class="form__field">
        <label>Phone</label>
        <input class="required" type="tel" name="contact[phone]" placeholder="" value="">
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label>Company</label>
        <input class="required" type="text" name="contact[company]" placeholder="" value="">
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label>Your physician or aesthetic clinic</label>
        <input class="required" type="text" name="contact[physician]" placeholder="" value="">
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label>Message</label>
        <textarea name="contact[body]" placeholder=""></textarea>
      </div>
    </div>

    <div class="form__row form__row--rude">
      <div class="form__field">
        <label>Rude</label>
        <input class="rude" type="text" name="rude" tabindex="-1">
      </div>
    </div>

    <div class="form__action form__action--submit">
      <button class="form__button button" type="submit" data-success-redirect-url="{{ shop.url }}/pages/thank-you">Submit</button>
    </div>

  </div>

  <div class="form__success">
    <div class="form__message form__message--success">
      <p>Thanks for reaching out!<br>Please expect to hear back from us shortly.</p>
    </div>
  </div>

{% endform %}
