{% comment %}

  Use snippet like so...

  {%
    render 'layout--image-with-text',
    heading: heading,
    id: id,
    image: image,
    layout: layout,
    message: message,
    animate: false,
    include_container: true
  %}

{% endcomment %}

{% assign block_name = "image-with-text" %}

<section class="section section--{{ block_name }}" id="section--{{ block_name }}--{{ id }}">
  <div class="{{ block_name }}">

    {% if include_container %}
      <div class="container"><div class="row"><div class="col-12">
    {% endif %}

      <div class="{{ block_name }}__main {{ block_name }}__main--{{ layout }}">

        <div class="{{ block_name }}__content {{ block_name }}__content--image">
          <div
            {% if animate %}
              data-aos="fade-right"
              data-aos-delay="0"
              data-aos-duration="1000"
              data-aos-anchor-placement="top-center"
              data-aos-anchor="#section--{{ block_name }}--{{ id }}"
            {% endif %}
          >
          {% if image %}
            {% render 'content--lazyload-image', image: image, pos: 'inline', image_alt: 'Sample', preload: true, responsive: true %}
          {% endif %}
          </div>
        </div>

        <div class="{{ block_name }}__content {{ block_name }}__content--text">

          <div
            {% if animate %}
              data-aos="fade-left"
              data-aos-delay="0"
              data-aos-duration="1000"
              data-aos-anchor-placement="top-center"
              data-aos-anchor="#section--{{ block_name }}--{{ id }}"
            {% endif %}
          >

            <div class="{{ block_name }}__icon icon">
              <img src='{{ 'ELEVAI--web-asset--three-dots-curved--tan.svg' | asset_url }}' alt='Blockquote Icon' />
            </div>

            {% if heading %}
              <h2 class="{{ block_name }}__heading heading">{{ heading }}</h2>
            {% endif %}

            {% if message %}
              <div class="{{ block_name }}__message message rte">
                {{ message }}
              </div>
            {% endif %}

          </div>

        </div>

      </div>

    {% if include_container %}
      </div></div></div>
    {% endif %}

  </div>
</section>

