{% comment %}

  Use snippet like so...

  {%
    render 'layout--blockquote',
    heading: '',
    message: ''
  %}

{% endcomment %}

{% assign block_name = "blockquote" %}

{% if heading and message %}

  <section class="section section--{{ block_name }}">
    <div class="{{ block_name }}">

      {% if include_container %}
        <div class="container"><div class="row"><div class="col-10 offset-1">
      {% endif %}

        <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <div class="{{ block_name }}__icon icon">
            <img src='{{ 'ELEVAI--web-asset--three-dots--copper.svg' | asset_url }}' alt='Blockquote Icon' />
          </div>
          <h2 class="{{ block_name }}__heading heading">{{ heading }}</h2>
          <div class="{{ block_name }}__message message message--secondary"><p>{{ message }}</p></div>
        </div>

      {% if include_container %}
        </div></div></div>
      {% endif %}

    </div>
  </section>

{% endif %}
