{% comment %}

  Use snippet like so...

  {% render 'layout--text-feature',
    animate: true,
    heading: heading,
    id: block.id,
    include_container: true,
    message: message,
    padding_bottom: padding_bottom,
    padding_top: padding_top,
    subheading: subheading
  %}

{% endcomment %}

{% assign block_name = "text-feature" %}

<section class="section section--{{ block_name }} {{ block_name }}" id="section--{{ block_name }}--{{ id }}" data-padding-bottom="{{ padding_bottom }}" data-padding-top="{{ padding_top }}">
  <div class="{{ block_name }}__main">

    {% if include_container %}
      <div class="container"><div class="row"><div class="col-12">
    {% endif %}

      <div class="{{ block_name }}__content" {% if animate %}data-aos="fade-in" data-aos-delay="450" data-aos-duration="1000"{% endif %}>

        <div class="{{ block_name }}__brand">
          <img src='{{ "ELEVAI--web-asset--logo-word-only--copper.svg" | asset_url }}' alt='{{ shop.name }} Logo' />
        </div>

        {% if heading %}
          <h2 class="{{ block_name }}__heading heading">{{ heading }}</h2>
        {% endif %}

        {% if subheading %}
          <h3 class="{{ block_name }}__subheading subheading">{{ subheading }}</h3>
        {% endif %}

        {% if message %}
          <div class="{{ block_name }}__message message rte">{{ message | strip }}</div>
        {% endif %}

      </div>

    {% if include_container %}
      </div></div></div>
    {% endif %}

  </div>
</section>

