{% comment %}

  Use snippet like so...

  {% render 'layout--pre-order',
    animate: true,
    cta_link: cta_link,
    cta_title, cta_title,
    id: block.id,
    image: image,
    include_container: true,
    keynote_heading_01: keynote_heading_01,
    keynote_message_01: keynote_message_01,
    keynote_subheading_01: keynote_subheading_01,
    keynote_heading_02: keynote_heading_02,
    keynote_message_02: keynote_message_02,
    keynote_subheading_02: keynote_subheading_02,
    padding_bottom: padding_bottom,
    padding_top: padding_top,
    subheading: subheading
  %}

{% endcomment %}

{% assign block_name = "pre-order" %}

<section class="section section--{{ block_name }} {{ block_name }} flexible-content" id="section--{{ block_name }}--{{ id }}" data-padding-bottom="{{ padding_bottom }}" data-padding-top="{{ padding_top }}">
  <div class="{{ block_name }}__main">

    {% if include_container %}
      <div class="container"><div class="row"><div class="col-12">
    {% endif %}

      <div class="image-with-text__main image-with-text__main--image-left">

        <div class="image-with-text__content image-with-text__content--image">

          {% if animate %}
            <div
              data-aos="fade-right"
              data-aos-delay="0"
              data-aos-duration="1000"
              data-aos-anchor-placement="top-center"
              data-aos-anchor="#section--{{ block_name }}--{{ id }}"
            >
          {% endif %}

          {% if image %}
            {% render 'content--lazyload-image', image: image, pos: 'inline', image_alt: 'Sample', preload: true, responsive: true %}
          {% endif %}

          {% if animate %}
            </div>
          {% endif %}

        </div>

        <div class="image-with-text__content image-with-text__content--text">

          <div class="{{ block_name }}__content">

            {% if keynote_heading_01 and keynote_message_01 and keynote_subheading_01 %}
              <div class="{{ block_name }}__keynote"
                {% if animate %}
                  data-aos="fade-left"
                  data-aos-delay="300"
                  data-aos-duration="1000"
                  data-aos-anchor-placement="top-center"
                  data-aos-anchor="#section--{{ block_name }}--{{ id }}"
                {% endif %}
              >
                <div class="{{ block_name }}__brand">
                  <img src='{{ "ELEVAI--brand--icon--copper.svg" | asset_url }}' alt='{{ shop.name }} Logo' />
                </div>
                <h2 class="{{ block_name }}__heading heading">{{ keynote_heading_01 }}</h2>
                <h3 class="{{ block_name }}__subheading subheading">{{ keynote_subheading_01 }}</h3>
                <div class="{{ block_name }}__message message rte">{{ keynote_message_01 }}</div>
              </div>
            {% endif %}

            {% if keynote_heading_02 and keynote_message_02 and keynote_subheading_02 %}
              <div class="{{ block_name }}__keynote"
                {% if animate %}
                  data-aos="fade-left"
                  data-aos-delay="600"
                  data-aos-duration="1000"
                  data-aos-anchor-placement="top-center"
                  data-aos-anchor="#section--{{ block_name }}--{{ id }}"
                {% endif %}
              >
                <div class="{{ block_name }}__brand">
                  <img src='{{ "ELEVAI--brand--icon--copper.svg" | asset_url }}' alt='{{ shop.name }} Logo' />
                </div>
                <h2 class="{{ block_name }}__heading heading">{{ keynote_heading_02 }}</h2>
                <h3 class="{{ block_name }}__subheading subheading">{{ keynote_subheading_02 }}</h3>
                <div class="{{ block_name }}__message message rte">{{ keynote_message_02 }}</div>
              </div>
            {% endif %}

          </div>

        </div>

      </div>

      {% render 'content--cta', appearance: 'outline', colour: 'dark-grey', link: cta_link, title: cta_title %}

    {% if include_container %}
      </div></div></div>
    {% endif %}

  </div>
</section>

