{% comment %}

  Use snippet like so...

  {%
    render 'layout--hero',
    heading: heading,
    image: image,
    image_desktop: image_desktop,
    message: message,
    include_container: true
  %}

{% endcomment %}

{% assign block_name = "hero" %}

<section class="section section--{{ block_name }}">
  <div class="{{ block_name }}">

    {% if image %}
      <div class="{{ block_name }}__image {{ block_name }}__image--mobile">
        {%
          render 'content--lazyload-image',
          image: image,
          pos: 'inline',
          image_alt: shop.name,
          preload: true,
          responsive: true
        %}
        {% comment %}
          <div class="lazyload-item lazyload-item--image lazyload-item--background lazypreload lazyload" data-bg="{{ image | img_url: '1000x' }}" style="background-image: url(' {{ image | img_url: '1x' }} ');"></div>
        {% endcomment %}
      </div>
    {% endif %}

    {% if image_desktop %}
      <div class="{{ block_name }}__image {{ block_name }}__image--desktop">
        <div class="lazyload-item lazyload-item--image lazyload-item--background lazypreload lazyload" data-bg="{{ image_desktop | img_url: 'master' }}" style="background-image: url(' {{ image_desktop | img_url: '1x' }} ');"></div>
      </div>
    {% endif %}

    <div class="{{ block_name }}__main">
      <div class="{{ block_name }}__content" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" data-aos-once="true">

        <div class="container"><div class="row"><div class="col-10 offset-1 col-lg-5 offset-lg-0">
        {% if heading %}
          <h1 class="{{ block_name }}__heading heading heading--hero">{{ heading }}</h1>
        {% endif %}
        {% if message %}
          <div class="{{ block_name }}__message message">{{ message }}</div>
        {% endif %}

        {% render 'content--cta', appearance: 'outline', colour: 'dark-grey', link: cta_link, title: cta_title %}

        </div></div></div>
      </div>
    </div>

  </div>
</section>
