<div class="modal micromodal-slide" id="modal--popup-newsletter" aria-hidden="true" data-cookie-expires-days="{{ cookie_expires_days }}" data-timeout-delay-milliseconds="{{ timeout_delay_milliseconds }}">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">

      <button class="modal__button button button--close" data-micromodal-close aria-label="Close modal" type="button">
        <img src='{{ "ELEVAI--web-asset--icon-close--mid-grey.svg" | asset_url }}' alt="Close" />
      </button>

      <div class="modal__content">

        <div class="modal__brand">
          <img src='{{ "ELEVAI--brand--icon--copper.svg" | asset_url }}' alt='{{ shop.name }} Logo' />
        </div>

        {% if message %}
          <div class="modal__message message rte">{{ message }}</div>
        {% endif %}

        {% render 'form--newsletter', form_classes: 'form--popup-newsletter' %}

      </div>

    </div>
  </div>
</div>
