<div class="cookie-compliance cookie-compliance--bottom cookie-compliance--left fade-in">

  <div class="cookie-compliance__content">

    <p>This website uses cookies in order to heighten your experience. We will not use, collect or resell your personal information. You accept the use of cookies or other identifiers by closing or dismissing this notice, by clicking a link or button or by continuing to browse otherwise.</p>

    <button role="button" data-close>Ok</button>

  </div>
  <!-- /.cookie-compliance__content -->

</div>
<!-- /.cookie-compliance -->
