{%- assign theme_classes = '' -%}
{%- assign template_name = template.name -%}
{%- assign template_suffix = template.suffix -%}
{%- if template_name != blank -%}
  {% if template_name == '404' %}
    {%- assign template_name = "page--" | append: template_name -%}
  {% endif %}
	{%- assign theme_classes = theme_classes | append: template_name -%}
	{%- if template_suffix != blank -%}
		{%- assign theme_classes = theme_classes | append: ' ' | append: template_name | append: '--' | append: template_suffix -%}
	{%- endif -%}
{%- endif -%}
{%- if customer -%}
	{% assign theme_classes = theme_classes | append: ' customer-logged-in' -%}
{%- endif -%}
{{- theme_classes -}}
