//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

// Clearfix

@mixin clearfix {
	clear: both;
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
  }
}

// Calculate

@mixin calc( $property, $expression ) {
	#{$property}: -moz-calc( #{$expression} );
	#{$property}: -webkit-calc( #{$expression} );
	#{$property}: calc( #{$expression} );
}

// Vertical Center

@mixin vertical-center {
  position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin vertical-center-reset {
  position: relative;
	top: unset;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

// Background Cover

@mixin background-gradient ( $direction: top, $first_colour: #fff, $second_colour: #000 ) {
	background: -webkit-linear-gradient( $direction, $first_colour, $second_colour );
	background: -moz-linear-gradient( $direction, $first_colour, $second_colour );
	background: -ms-linear-gradient( $direction, $first_colour, $second_colour );
	background: -o-linear-gradient( $direction, $first_colour, $second_colour );
	background: linear-gradient( $direction, $first_colour, $second_colour );
}

@mixin background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin background ( $size: cover ) {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

// Box Shadow
@mixin box-shadow ( $top, $left, $blur, $spread, $color, $inset: false ) {
	@if $inset {
    -webkit-box-shadow: inset $top $left $blur $spread $color;
		-moz-box-shadow: inset $top $left $blur $spread $color;
		box-shadow: inset $top $left $blur $spread $color;
	} @else {
    	-webkit-box-shadow: $top $left $blur $spread $color;
		-moz-box-shadow: $top $left $blur $spread $color;
		box-shadow: $top $left $blur $spread $color;
	}
}

@mixin box-shadow-reset( $important: false ) {
	@if $important {
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
	} @else {
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}
}

// Animations

@mixin keyframes ( $animation-name ) {
  @-webkit-keyframes #{$animation-name} { @content; }
  @-moz-keyframes #{$animation-name} { @content; }
  @-ms-keyframes #{$animation-name} { @content; }
  @-o-keyframes #{$animation-name} { @content; }
  @keyframes #{$animation-name} { @content; }
}

@mixin animation ( $str ) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transitions-reset {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition:  none;
	-o-transition: color 0 ease-in;
	transition: none;
}

@mixin breakpoint ( $point ) {

	@if $point == sm {
		@media ( min-width: $theme-grid-breakpoint--sm ) { @content; }
	}

	@else if $point == md {
		@media ( min-width: $theme-grid-breakpoint--md ) { @content; }
	}

	@else if $point == lg {
		@media ( min-width: $theme-grid-breakpoint--lg )  { @content; }
	}

	@else if $point == xl {
		@media ( min-width: $theme-grid-breakpoint--xl )  { @content; }
	}

	@else if $point == xxl {
		@media ( min-width: $theme-grid-breakpoint--xxl )  { @content; }
	}

  @else {
    @media ( min-width: $point )  { @content; }
  }

}

// Columns

@mixin columns ( $number, $width, $gap: normal ) {
	-webkit-columns: $number $width;
	-moz-columns: $number $width;
  columns: $number $width;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

//////////////////////////////////////////////////////////
////  Colour | Tint (make brighter)
//////////////////////////////////////////////////////////

@function tint( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

//////////////////////////////////////////////////////////
////  Colour | Shade (make darker)
//////////////////////////////////////////////////////////

@function shade( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}

//////////////////////////////////////////////////////////
////  Colour | Greyscale
//////////////////////////////////////////////////////////

@mixin greysacle ( $value ) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter:#{"grayscale(#{$value})"};
}

//////////////////////////////////////////////////////////
////  Colour | Brightness
/////////////////////////////////////////////////////////

@mixin brightness ( $value ) {
	-webkit-filter: brightness( $value );
  filter: brightness( $value );
}

//////////////////////////////////////////////////////////
////  Placeholder
//////////////////////////////////////////////////////////

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder           {
    @content;
  }
  &::-moz-placeholder          {
    @content;
  }
  &:-ms-input-placeholder      {
    @content;
  }
}

//////////////////////////////////////////////////////////
////  Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin body-copy( $modifier: 1 ) {

  font-size: $theme-body-copy * $modifier;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;

  @include breakpoint(sm) {

    font-size: $theme-body-copy--sm * $modifier;

  } // min width sm

  @include breakpoint(md) {

    font-size: $theme-body-copy--md * $modifier;

  } // min width md

  @include breakpoint(lg) {

    font-size: $theme-body-copy--lg * $modifier;

  } // min width lg

  @include breakpoint(xl) {

    font-size: $theme-body-copy--xl * $modifier;

  } // min width xl

  @include breakpoint(xxl) {

    font-size: $theme-body-copy--xxl * $modifier;

  } // min width xxl

}
