//////////////////////////////////////////////////////////
////  Layout & Grid
//////////////////////////////////////////////////////////

$theme-gutter: 24px; // should be divisible by 2

// ---------------------------------------- Grid Breakpoint Sizes
$theme-grid-breakpoint-sizes: (
  'sm' : 567px,
  'md' : 768px,
  'lg' : 992px,
  'xl' : 1200px,
  'xxl' : 1400px
);

$theme-grid-breakpoint--sm: map-get( $theme-grid-breakpoint-sizes, 'sm' );
$theme-grid-breakpoint--md: map-get( $theme-grid-breakpoint-sizes, 'md' );
$theme-grid-breakpoint--lg: map-get( $theme-grid-breakpoint-sizes, 'lg' );
$theme-grid-breakpoint--xl: map-get( $theme-grid-breakpoint-sizes, 'xl' );
$theme-grid-breakpoint--xxl: map-get( $theme-grid-breakpoint-sizes, 'xxl' );

// ---------------------------------------- Grid Container Sizes
$theme-grid-container-sizes: (
  'sm' : 540px,
  'md' : 740px,
  'lg' : 960px,
  'xl' : 1160px,
  'xxl' : 1360px
);

$theme-grid-container--sm: map-get( $theme-grid-container-sizes, 'sm' );
$theme-grid-container--md: map-get( $theme-grid-container-sizes, 'md' );
$theme-grid-container--lg: map-get( $theme-grid-container-sizes, 'lg' );
$theme-grid-container--xl: map-get( $theme-grid-container-sizes, 'xl' );
$theme-grid-container--xxl: map-get( $theme-grid-container-sizes, 'xxl' );

// ---------------------------------------- Two Column Offsets
$theme-two-column-offsets-sizes: (
  'base': 0px,
  'sm': 0px,
  'md': 0px,
  'lg': 50px,
  'xl': 60px,
  'xxl': 70px
);

$theme-two-column-offset: map-get( $theme-two-column-offsets-sizes, 'base' );
$theme-two-column-offset--sm: map-get( $theme-two-column-offsets-sizes, 'sm' );
$theme-two-column-offset--md: map-get( $theme-two-column-offsets-sizes, 'md' );
$theme-two-column-offset--lg: map-get( $theme-two-column-offsets-sizes, 'lg' );
$theme-two-column-offset--xl: map-get( $theme-two-column-offsets-sizes, 'xl' );
$theme-two-column-offset--xxl: map-get( $theme-two-column-offsets-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  Typography
//////////////////////////////////////////////////////////

// ---------------------------------------- Font Families
$sans: sans-serif;
$sans--proxima-nova: proxima-nova, sans-serif;
$sans--gotham: 'Gotham Pro', sans-serif;
$display: 'Saol Display', serif;
$serif: serif;

// ---------------------------------------- Body Copy Sizes
$theme-body-copy-sizes: (
  'base': 16px,
  'sm': 16px,
  'md': 16px,
  'lg': 16px,
  'xl': 16px,
  'xxl': 16px
);

$theme-body-copy: map-get( $theme-body-copy-sizes, 'base' );
$theme-body-copy--sm: map-get( $theme-body-copy-sizes, 'sm' );
$theme-body-copy--md: map-get( $theme-body-copy-sizes, 'md' );
$theme-body-copy--lg: map-get( $theme-body-copy-sizes, 'lg' );
$theme-body-copy--xl: map-get( $theme-body-copy-sizes, 'xl' );
$theme-body-copy--xxl: map-get( $theme-body-copy-sizes, 'xxl' );


//////////////////////////////////////////////////////////
////  Colour
//////////////////////////////////////////////////////////

$theme-colours: (
	'white': #ffffff,
	'black': #000000,
	'off-white': #f5f5f5,
	'dark-grey': #2c2c2c,
	'light-grey': #8b8b8b,
	'lightest-grey': #eff0f1,
	'tan': #dccca7,
	'copper': #B88035
);

$theme-white: map-get( $theme-colours, 'white' );
$theme-black: map-get( $theme-colours, 'black' );
$theme-off-white: map-get( $theme-colours, 'off-white' );
$theme-light-grey: map-get( $theme-colours, 'light-grey' );
$theme-lightest-grey: map-get( $theme-colours, 'lightest-grey' );
$theme-dark-grey: map-get( $theme-colours, 'dark-grey' );
$theme-tan: map-get( $theme-colours, 'tan' );
$theme-copper: map-get( $theme-colours, 'copper' );
