//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

$section-padding: 68px;
$section-padding--lg: 98px;
$section-padding--xxl: 128px;

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.section {

  overflow: hidden;

  .icon {
    display: block;
    margin: auto auto 12px auto;
    height: 20px;
    width: auto;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &[data-padding-bottom="true"] {
    padding-bottom: $section-padding + 20px;
  }

  &[data-padding-top="true"] {
    padding-top: $section-padding;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .icon {
      height: 15px;
    }

    &[data-padding-bottom="true"] {
      padding-bottom: $section-padding--lg + 20px;
    }

    &[data-padding-top="true"] {
      padding-top: $section-padding--lg;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &[data-padding-bottom="true"] {
      padding-bottom: $section-padding--xxl + 20px;
    }

    &[data-padding-top="true"] {
      padding-top: $section-padding--xxl;
    }

  } // min width xxl

} // .section
