//////////////////////////////////////////////////////////
////  Section | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Section | Styles
//////////////////////////////////////////////////////////

.section--404 {

  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;

  .section__main {
    text-align: center;
    width: 100%;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .section
