<!-- /templates/customers/addresses.liquid -->

<div class="wrapper"><div class="row"><div class="col-xs-12">

  <div class="block block--account-navigation">
    <a class="button button--primary button--outline" href='/account/'>Back to Account</a>
  </div>

  <div class="block block--new-address">
    <h2 class="title title--alternative">New Address</h2>
    {% form 'customer_address', customer.new_address %}
      <label>First Name</label>
      <input type="text" name="address[first_name]" size="40" autocapitalize="words"/>
      <label>Last Name</label>
      <input type="text" name="address[last_name]" size="40" autocapitalize="words"/>
      <label>Company</label>
      <input type="text" name="address[company]" size="40" autocapitalize="words"/>
      <label>Street Address</label>
      <input type="text" name="address[address1]" size="40" autocapitalize="words"/>
      <label>Unit/Suite</label>
      <input type="text" name="address[address2]" size="40" autocapitalize="words"/>
      <label>City</label>
      <input type="text" name="address[city]" size="40" autocapitalize="words"/>
      <label>Country</label>
      <select id="address--new--country" name="address[country]">{{ country_option_tags }}</select>
      <div class="form-field form-field--region form-field--select" id="address--new--province-container">
        <label>Region</label>
        <select id="address--new--province" name="address[province]"></select>
      </div>
      <label>Postal</label>
      <input type="text" name="address[zip]" size="40" autocapitalize="characters"/>
      <label>Phone</label>
      <input type="tel" name="address[phone]" size="40" />
      <div class="form-field form-field--default-address form-field--checkbox">
				<label for="address--default-address">Set as default</label>
				<input class='form-checkbox form-checkbox--set-default-address' type="checkbox" name="checkbox" id="address--default-address" name="address[default]" value="1">
			</div>
			<!-- /.form-field--default-address -->
      <input class="button button--primary button--fill" type="submit" class="btn" value="Add">
    {% endform %}
  </div>

  <div class="block block--new-address">
    <h2 class="title title--alternative">Addresses</h2>

    {% if customer.addresses.size > 0 %}
      {% paginate customer.addresses by 9 %}
        {% for address in customer.addresses %}

          <div class="address" id="adddress--{{ address.id }}">

            <span class="address__name">{{ address.first_name | capitalize }} {{ address.last_name | capitalize }}{% if address == customer.default_address %} (default){% endif %}</span>
            <span class="address__street">{{ address.address1 }}</span>
            <span class="address__suite">{{ address.address2 }}</span>
            <span class="address__city">{{ address.city }}</span>
            <span class="address__region">{{ address.province }}</span>
            <span class="address__postal">{{ address.postal }}</span>
            <span class="address__country">{{ address.zip }}</span>

            {% form 'customer_address', address %}

              <div class="section section--form section--edit-address" id="address--edit--{{ address.id }}" data-address-id='{{ address.id }}' data-customer-id='{{ customer.id }}'>

                {{ form.errors | default_errors }}

                <h2 class="section__heading section__heading--form-title">Edit Address</h2>

  							<div class="form-field form-field--first-name">
  								<label>First Name</label>
  								<input type="text" name="address[first_name]" autofocus="" autocapitalize="words" value="{{ form.first_name }}">
  							</div>

  							<div class="form-field form-field--last-name">
  								<label>Last Name</label>
  								<input type="text" name="address[last_name]" autocapitalize="words" value="{{ form.last_name }}">
  							</div>

  							<div class="form-field form-field--company">
  								<label>Company</label>
  								<input type="text" name="address[company]" autocapitalize="words" value="{{ form.company }}">
  							</div>

  							<div class="form-field form-field--phone">
  								<label>Phone</label>
  								<input type="text" name="address[phone]" value="{{ form.phone }}">
  							</div>

  							<div class="form-field form-field--address-1">
  								<label>Address 1</label>
  								<input type="text" name="address[address1]" autocapitalize="words" value="{{ form.address1 }}">
  							</div>

  							<div class="form-field form-field--address-2">
  								<label>Address 2</label>
  								<input type="text" name="address[address2]" autocapitalize="words" value="{{ form.address2 }}">
  							</div>

  							<div class="form-field form-field--city">
  								<label>City</label>
  								<input type="text" name="address[city]" autocapitalize="words" value="{{ form.city }}">
  							</div>

  							<div class="form-field form-field--postal">
  							    <label>Postal / Zip Code</label>
  								<input type="text" name="address[zip]" autocapitalize="characters" value="{{ form.zip }}">
  							</div>

  							<div class="form-field form-field--country form-field--select">
  								<label for="address--country--{{ form.id }}">Country</label>
  								<select id="address--country--{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
  							</div>

  							<div id="address--province-container--{{ form.id }}" style="display:none">
  								<div class="form-field form-field--region form-field--select" id="address--new--province-container">
  									<label for="address--province--{{ form.id }}">Region</label>
                    <select id="address--province--{{ form.id }}" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
  								</div>
  							</div>


  							<button class="button button--primary button--fill" type="button">Edit</button>

  							<button class="button button--primary button--outline" type="button">Delete</button>

  							<div class="form-field form-field--default-address form-field--checkbox">
  								<label for="address--default-address--{{ form.id }}" class="inline">Set as Default</label>
  								<input type="checkbox" id="address--default-address--{{ form.id }}" name="address[default]" value="1" {% if address == customer.default_address %}checked{% endif %}>
  							</div>

  							<div class="form-action">

  								<button class="button button--primary button--fill" type="submit">Update</button>

  								<button class="button button--primary button--outline" type="button">Cancel</button>

  						  </div>

  						</div>

            {% endform %}

          </div>
          <!-- /.address -->

        {% endfor %}

        {% if paginate.pages > 1 %}
					<div class="pagination">
			      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
					</div>
			  {% endif %}

      {% endpaginate %}
    {% endif %}
  </div>

</div></div></div>

<script type="text/javascript">

	// Initialize observers on address selectors
	new Shopify.CountryProvinceSelector('address--new--country', 'address--new--province', {
		hideElement: 'address--new--province-container'
	});

	// Setup province selector on each customer address
	{% paginate customer.addresses by 9 %}

		{% for address in customer.addresses %}

		  new Shopify.CountryProvinceSelector('address--country--{{ address.id }}', 'address--province--{{ address.id }}', {
		    hideElement: 'address--province-container--{{ address.id }}'}
			);

		{% endfor %}

	{% endpaginate %}

	// Modified contents of customer_area.js (global asset)
	Shopify.CustomerAddress = {
		toggleForm: function(id) {
			var editEl = document.getElementById('address--edit--'+id);
			editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
			return false;
		},
		toggleNewForm: function() {
			var el = document.getElementById('address--add');
			el.style.display = el.style.display == 'none' ? '' : 'none';
			return false;
		},
		destroy: function(id, confirm_msg) {
			if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
				Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
			}
		}
	}

	var checkboxes = document.getElementsByClassName('form-checkbox');

</script>
