<!-- /templates/customers/order.liquid -->

<div class="wrapper"><div class="row"><div class="col-xs-12">

  <div class="block">
    <h1 class="title">Order {{ order.name }}</h1>
    <p>{{ order.created_at | date: "%A, %B %-d, %Y" }}</p>
    <a class="button button--primary button--outline" href='/account/'>Back to Account</a>
  </div>

  <div class="block block--billing-addres">

    <h2 class="title title--alternative">Billing Address</h2>
    <p><span>Payment Status:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
    <p>{{ order.billing_address.name }}</p>
    <p>{{ order.billing_address.company }}</p>
    <p>{{ order.billing_address.street }}</p>
    <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
    <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
    <p>{{ order.billing_address.phone }}</p>

  </div>

  <div class="block block--shipping-addres">

    <h2 class="title title--alternative">Shipping Address</h2>
    <p><span>Fulfillment Status:</span><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
    <p>{{ order.shipping_address.name }}</p>
    <p>{{ order.shipping_address.company }}</p>
    <p>{{ order.shipping_address.street }}</p>
    <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
    <p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
    <p>{{ order.shipping_address.phone }}</p>

  </div>

  <div class="block block--order-history">

    <h2 class="title title--alternative">Order Item(s)</h2>

    {% if order.line_items.size > 0 %}
      <div class="orders">
        <div class="order order--header">
          <div class="order__meta order__meta--title">Title</div>
          <div class="order__meta order__meta--sku">SKU</div>
          <div class="order__meta order__meta--price">Price</div>
          <div class="order__meta order__meta--quantity">Quantity</div>
          <div class="order__meta order__meta--line-price">Line Price</div>
        </div>
      {% for line_item in order.line_items %}
        <div class="order order--item">
          <div class="order__meta order__meta--title"><a href='{{ line_item.product.url }}'>{{ line_item.title }}</a></div>
          <div class="order__meta order__meta--sku">{{ line_item.sku }}</div>
          <div class="order__meta order__meta--price">{{ line_item.original_price | money }}</div>
          <div class="order__meta order__meta--quantity">{{ line_item.quantity }}</div>
          <div class="order__meta order__meta--line-price">{{ line_item.line_price | money }}</div>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <p>No item(s)</p>
    {% endif %}

  </div>

</div></div></div>
