<!doctype html>
<html>

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180639014-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-180639014-1');
    </script>

    {% comment %}

      #TODOs
        • get theme asset graphics
        • get fonts and upload web versions
        • setup GA
        • setup billing
        • setup account (address, etc...)
        • setup domain name

    {% endcomment %}

    <title>{{ page_title }}</title>

  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="author" content="Daymarker Digital">
  	<meta http-equiv="Expires" content="7" />

    <!-- Cannoical URL -->
  	<link rel='canonical' href='{{ canonical_url }}'>

    <!-- Icons -->
    <link href='{{ "favicon.ico" | asset_url }}' type='image/x-icon' rel='shortcut icon' />
    <link href='{{ "apple-touch-icon.png" | asset_url }}' type='image/png' rel='apple-touch-icon'>

    <!-- DNS Prefetch -->
    <link rel="dns-prefetch" href='//www.google-analytics.com'>

    <!-- Preconnect -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://ajax.googleapis.com' crossorigin>
    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>
    <link rel='preconnect' href='https://v.shopify.com' crossorigin>

    <!-- Preload Scripts & Styles -->
    <link rel='preload' href='{{ 'main.css' | asset_url }}' as='style'>
    <link rel='preload' href='{{ "Daymarker.min.js" | asset_url }}' as='script'>

    <!-- Preload Fonts  -->
    {% comment %}<link rel="preload" href='{{ "SorrySans-BoldExtended.woff2" | asset_url }}' as="font" type="font/woff2" crossorigin>{% endcomment %}

    <!-- SEO -->
    {% assign enable_seo = true %}
    {% if enable_seo %}
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
      {% render 'theme--meta-tags' %}
    {% else %}
  			<meta name="robots" content="noindex, nofollow">
    {% endif %}

    <!-- Styles -->
    {{ 'main.css' | asset_url | stylesheet_tag }}

    <!-- Shopify Specific -->
    {% if template contains 'customer' %}
      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <!-- Scripts -->
    {% render 'theme--scripts' %}

    <!-- Shopify Hooks for Plugins -->
    {{ content_for_header }}

  </head>

  <body class="{% render 'theme--classes' %} sticky-footer">

    <main class="{% render 'theme--classes' %}" role="main">

      <header id="header" class="header">
        {% section 'theme--header' %}
      </header>

      {{ content_for_layout }}

    </main>

    <footer id="footer" class="footer">
      {% section 'theme--newsletter' %}
      {% section 'theme--footer' %}
    </footer>

    {% case template %}
      {% when '404' %}
      {% when 'page.thank-you' %}
      {% else %}
        {% section 'theme--popup-newsletter' %}
    {% endcase %}

    <!-- Daymarker Scripts -->
    <script src='{{ "Daymarker.min.js" | asset_url }}' async></script>

  </body>

</html>
