
{% assign heading = section.settings.heading | default: false %}
{% assign image = section.settings.image | default: false %}
{% assign image_desktop = section.settings.image--desktop | default: false %}
{% assign message = section.settings.message | default: false %}
{% assign cta_link = section.settings.cta--link | default: false %}
{% assign cta_title = section.settings.cta--title | default: false %}

{% render 'layout--hero', cta_link: cta_link, cta_title: cta_title, heading: heading, image: image, image_desktop: image_desktop, message: message, include_container: true %}

{% for block in section.blocks %}

  {% assign block_settings = block.settings %}
  {% assign block_type = block.type %}

  {% case block_type %}

    {% when 'blockquote' %}

      {% assign heading = block_settings.heading | default: false %}
      {% assign message = block_settings.message | default: false %}

      {% render 'layout--blockquote',
        heading: heading,
        message: message,
        include_container: true
      %}

    {% when 'image-with-text' %}

      {% assign heading = block_settings.heading | default: false %}
      {% assign image = block_settings.image | default: false %}
      {% assign layout = block_settings.layout | default: false %}
      {% assign message = block_settings.message | default: false %}

      {% render 'layout--image-with-text',
        animate: true,
        heading: heading,
        id: block.id,
        include_container: true,
        image: image,
        layout: layout,
        message: message
      %}

    {% when 'text-feature' %}

      {% assign heading = block_settings.heading | default: false %}
      {% assign message = block_settings.message | default: false %}
      {% assign padding_bottom = block_settings.padding-bottom %}
      {% assign padding_top = block_settings.padding-top %}
      {% assign subheading = block_settings.subheading | default: false %}

      {% render 'layout--text-feature',
        animate: true,
        heading: heading,
        id: block.id,
        include_container: true,
        message: message,
        padding_bottom: padding_bottom,
        padding_top: padding_top,
        subheading: subheading
      %}

    {% when 'pre-order' %}

      {% assign cta_link = block_settings.cta--link | default: false %}
      {% assign cta_title = block_settings.cta--title | default: false %}

      {% assign image = block_settings.image | default: false %}

      {% assign keynote_heading_01 = block_settings.keynote-heading-01 | default: false %}
      {% assign keynote_message_01 = block_settings.keynote-message-01 | default: false %}
      {% assign keynote_subheading_01 = block_settings.keynote-subheading-01 | default: false %}

      {% assign keynote_heading_02 = block_settings.keynote-heading-02 | default: false %}
      {% assign keynote_message_02 = block_settings.keynote-message-02 | default: false %}
      {% assign keynote_subheading_02 = block_settings.keynote-subheading-02 | default: false %}

      {% assign padding_bottom = block_settings.padding-bottom %}
      {% assign padding_top = block_settings.padding-top %}

      {% render 'layout--pre-order',
        animate: true,
        cta_link: cta_link,
        cta_title: cta_title,
        id: block.id,
        image: image,
        include_container: true,
        keynote_heading_01: keynote_heading_01,
        keynote_message_01: keynote_message_01,
        keynote_subheading_01: keynote_subheading_01,
        keynote_heading_02: keynote_heading_02,
        keynote_message_02: keynote_message_02,
        keynote_subheading_02: keynote_subheading_02,
        padding_bottom: padding_bottom,
        padding_top: padding_top,
        subheading: subheading
      %}

    {% else %}
  {% endcase %}

{% endfor %}

{% schema %}
	{
		"name": "Home",
		"class": "section section--index",
		"tag": "section",
		"settings": [
			{
				"content": "Hero",
				"type": "header"
      },
      {
        "label": "Image (Mobile)",
        "type": "image_picker",
        "id": "image"
      },
      {
        "label": "Image (Desktop)",
        "info": "For optimal results, select an image with minimum dimensions of 2000px by 1125px, or larger with an aspect ratio of 1.0 to 0.56",
        "type": "image_picker",
        "id": "image--desktop"
      },
			{
        "label": "Heading",
        "type": "html",
        "id": "heading"
      },
      {
        "label": "Message",
        "type": "richtext",
        "id": "message"
      },
      {
				"content": "Call to Action",
				"type": "paragraph"
      },
      {
        "label": "Title",
        "type": "text",
        "id": "cta--title"
      },
      {
        "label": "Link",
        "type": "url",
        "id": "cta--link"
      }
    ],
    "blocks": [
      {
        "name": "Blockquote",
        "type": "blockquote",
        "settings": [
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "textarea",
            "id": "message"
          }
        ]
      },
      {
        "name": "Image with Text",
        "type": "image-with-text",
        "settings": [
          {
            "label": "Layout",
            "type": "select",
            "options": [
              { "value": "image-left", "label": "Image Left, Text Right"},
              { "value": "image-right", "label": "Image Right, Text Left"}
            ],
            "default":   "image-left",
            "id": "layout"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          }
        ]
      },
      {
        "name": "Pre-order",
        "type": "pre-order",
        "settings": [
          {
    				"content": "Settings",
    				"type": "paragraph"
          },
          {
            "label": "Padding Top",
            "type": "checkbox",
            "default": true,
            "id": "padding-top"
          },
          {
            "label": "Padding Bottom",
            "type": "checkbox",
            "default": true,
            "id": "padding-bottom"
          },
          {
    				"content": "Content",
    				"type": "paragraph"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "image"
          },
          {
    				"content": "Keynote 01",
    				"type": "paragraph"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "keynote-heading-01"
          },
          {
            "label": "Subheading",
            "type": "text",
            "id": "keynote-subheading-01"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "keynote-message-01"
          },
          {
    				"content": "Keynote 02",
    				"type": "paragraph"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "keynote-heading-02"
          },
          {
            "label": "Subheading",
            "type": "text",
            "id": "keynote-subheading-02"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "keynote-message-02"
          },
          {
    				"content": "Call to Action",
    				"type": "paragraph"
          },
          {
            "label": "Title",
            "type": "text",
            "id": "cta--title"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "cta--link"
          }
        ]
      },
      {
        "name": "Text Feature",
        "type": "text-feature",
        "settings": [
          {
    				"content": "Settings",
    				"type": "paragraph"
          },
          {
            "label": "Padding Top",
            "type": "checkbox",
            "default": true,
            "id": "padding-top"
          },
          {
            "label": "Padding Bottom",
            "type": "checkbox",
            "default": true,
            "id": "padding-bottom"
          },
          {
    				"content": "Content",
    				"type": "paragraph"
          },
          {
            "label": "Heading",
            "type": "text",
            "id": "heading"
          },
          {
            "label": "Subheading",
            "type": "text",
            "id": "subheading"
          },
          {
            "label": "Message",
            "type": "richtext",
            "id": "message"
          }
        ]
      }
    ]
  }
{% endschema %}
