{% assign team_member_blocks = section.blocks | where: 'type', 'team-member' %}

<div class="team-member" id="team-member--{{ section.id }}">
  <div class="container">
    <div class="row">

      {% for team_member in team_member_blocks %}

        {% assign current_index = forloop.index %}
        {% assign current_modulo = current_index | modulo: 2 %}
        {% assign name = team_member.settings.name | default: false %}
        {% assign accreditation = team_member.settings.accreditation | default: false %}
        {% assign job_title = team_member.settings.job-title | default: false %}
        {% assign bio = team_member.settings.bio | default: false %}
        {% assign expanded_bio = team_member.settings.expanded-bio | default: false %}
        {% assign profile_picture = team_member.settings.profile-picture | default: false %}

        {% assign animation_delay = 200 %}
        {% assign animation_duration = 1000 %}{% comment %} this is faster than before {% endcomment %}

        <div
          class="col-12 col-lg-6"
          data-aos="fade-up"
          data-aos-delay="{% if forloop.first == true %}0{% else %}{{ animation_delay }}{% endif %}"
          data-aos-duration="{{ animation_duration }}"
          data-aos-anchor-placement="top-center"
          data-aos-once="true"
          data-aos-anchor="#team-member--{{ section.id }}"
          >

          <div class="team-member__item team-member__item--{% if current_modulo == 0 %}even{% else %}odd{% endif %}" data-count="{{ current_index }}">

            <div class="team-member__profile-picture">
              {% if profile_picture %}
                {%
                  render 'content--lazyload-image',
                  image: profile_picture,
                  pos: 'inline',
                  image_alt: name,
                  preload: false,
                  responsive: true
                %}
              {% endif %}
            </div>

            {% if name %}
              <h3 class="team-member__name">{{ name }}{% if accreditation %}, {{ accreditation }}{% endif %}</h3>
            {% endif %}

            {% if job_title %}
              <span class="team-member__job-title">{{ job_title }}</span>
            {% endif %}

            {% if bio %}
              <div class="team-member__bio message message--tertiary">
                {{ bio }}
              </div>
            {% endif %}

            {% if expanded_bio %}
              <div class="collapsible collapsible--expanded-bio">
                <div class="collapsible__content team-member__expanded-bio collapse" id="team-member--expanded-bio--{{ current_index }}">
                  <div class="collapsible__padding">
                    <div class="team-member__bio team-member__bio--expanded message message--tertiary">{{ expanded_bio }}</div>
                  </div>
                </div>
                <button class="collapsible__button button collapsed" type="button" data-toggle="collapse" data-target="#team-member--expanded-bio--{{ current_index }}" aria-expanded="false" aria-controls="collapseExample">
                  <span class="collapsible__button-icon"></span>
                  <span class="collapsible__button-copy">Expand Bio</span>
                </button>
              </div>
            {% endif %}

          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>

{% schema %}
	{
		"name": "Team",
		"class": "section section--team",
		"tag": "section",
		"settings": [],
    "blocks": [
      {
        "name": "Team Member",
        "type": "team-member",
        "settings": [
          {
            "label": "Profile Picture",
            "type": "image_picker",
            "id": "profile-picture"
          },
          {
            "label": "Name",
            "type": "text",
            "id": "name"
          },
          {
            "label": "Accreditation",
            "type": "text",
            "id": "accreditation"
          },
          {
            "label": "Job Title",
            "type": "text",
            "id": "job-title"
          },
          {
            "label": "Bio",
            "type": "richtext",
            "id": "bio"
          },
          {
            "label": "Expanded Bio",
            "type": "richtext",
            "id": "expanded-bio"
          }
        ]
      }
    ]
  }
{% endschema %}
