{% assign heading = section.settings.heading | default: false %}
{% assign image = section.settings.image | default: false %}
{% assign layout = section.settings.layout | default: false %}
{% assign message = section.settings.message | default: false %}

{% render 'layout--image-with-text', animate, false, heading: heading, id: section.id, image: image, layout: layout, message: message, include_container: true %}

{% schema %}
	{
		"name": "Thank You",
		"class": "section section--thank-you thank-you",
		"tag": "section",
		"settings": [
			{
				"content": "Content",
				"type": "header"
      },
      {
        "label": "Heading",
        "type": "text",
        "id": "heading"
      },
      {
        "label": "Message",
        "type": "richtext",
        "id": "message"
      },
      {
        "label": "Image",
        "type": "image_picker",
        "id": "image"
      },
      {
        "label": "Layout",
        "type": "select",
        "options": [
          { "value": "image-left", "label": "Image Left, Text Right"},
          { "value": "image-right", "label": "Image Right, Text Left"}
        ],
        "default": "image-left",
        "id": "layout"
      }
    ],
    "blocks": []
  }
{% endschema %}
