{% assign heading = section.settings.heading | default: false %}
{% assign image = section.settings.image | default: false %}
{% assign message = section.settings.message | default: false %}

{% assign block_name = "image-with-text" %}

<div class="{{ block_name }}">
  <div class="container"><div class="row"><div class="col-12">

    <div class="{{ block_name }}__main {{ block_name }}__main--image-left">

      <div class="{{ block_name }}__content {{ block_name }}__content--image">
        {% if image %}
          {% render 'content--lazyload-image', image: image, pos: 'inline', image_alt: 'Sample', preload: false, responsive: true %}
        {% endif %}
      </div>

      <div class="{{ block_name }}__content {{ block_name }}__content--text">

        {% if heading %}
          <h2 class="{{ block_name }}__heading heading">{{ heading }}</h2>
        {% endif %}

        {% if message %}
          <div class="{{ block_name }}__message message rte">
            {{ message }}
          </div>
        {% endif %}

        {% render 'form--pre-order' %}

      </div>

    </div>

  </div></div></div>
</div>

{% schema %}
	{
		"name": "Pre-Order",
		"class": "section section--pre-order pre-order",
		"tag": "section",
		"settings": [
			{
				"content": "Content",
				"type": "header"
      },
      {
        "label": "Heading",
        "type": "text",
        "id": "heading"
      },
      {
        "label": "Message",
        "type": "richtext",
        "id": "message"
      },
      {
        "label": "Image",
        "type": "image_picker",
        "id": "image"
      }
    ],
    "blocks": []
  }
{% endschema %}
