{% if section.settings.enable %}

  {% assign cookie_expires_days = section.settings.cookie-expires-days | default: 180 %}
  {% assign message = section.settings.message | default: "<p>Sign up to receive the latest news and product samples before anyone else!</p>" %}
  {% assign timeout_delay_milliseconds = section.settings.timeout-delay-milliseconds | default: 3000 %}

  {% render 'modal--newsletter-signup', cookie_expires_days: cookie_expires_days, message: message, timeout_delay_milliseconds: timeout_delay_milliseconds %}

{% endif %}

{% schema %}
	{
		"name": "Popup Newsletter",
		"class": "section section--popup-newsletter popup-newsletter",
		"tag": "section",
		"settings": [
			{
				"content": "Popup Newsletter",
				"type": "header"
			},
			{
				"content": "Content",
				"type": "paragraph"
			},
			{
        "label": "Message",
        "type": "richtext",
        "id": "message"
      },
			{
				"content": "Settings",
				"type": "paragraph"
			},
			{
				"label": "Enable",
				"type": "checkbox",
				"default": true,
				"id": "enable"
			},
			{
        "label": "Time before popup shows",
        "info": "In milliseconds",
        "type": "text",
        "default": "3000",
        "id": "timeout-delay-milliseconds"
      },
      {
        "label": "Days before cookie expires",
        "type": "range",
        "min": 30,
        "max": 360,
        "step": 30,
        "default": 30,
        "id": "cookie-expires-days"
      }
    ],
    "blocks": []
  }
{% endschema %}
