{% assign logo = section.settings.logo | default: false %}

<div class='header__main'>

  <div class='header__brand' data-logo='{{ logo }}'>
    <a href='/'>
      {% if logo %}
        <img src='{{ logo }}' alt='{{ shop.name }} Logo' />
      {% endif %}
    </a>
  </div>

</div>

{% schema %}
	{
		"name": "Header",
		"settings": [
			{
				"content": "Header",
				"type": "header"
			},
			{
  			"label": "Logo",
        "type": "text",
        "id": "logo"
      }
    ],
    "blocks": []
  }
{% endschema %}
