{% if section.settings.enable %}

  {% assign heading = section.settings.heading | default: "Sign up to get the latest news and updates" %}

  <div class="newsletter">
    <div class="container"><div class="row"><div class="col-10 offset-1">

      <h3 class="newsletter__heading heading message message--secondary">{{ heading }}</h3>

      {% render 'form--newsletter', form_classes: 'newsletter__form' %}

    </div></div></div>
  </div>

{% endif %}

{% schema %}
	{
		"name": "Newsletter",
		"class": "section section--footer-newsletter footer-newsletter",
		"tag": "section",
		"settings": [
			{
				"content": "Newsletter",
				"type": "header"
			},
			{
				"label": "Enable",
				"type": "checkbox",
				"default": true,
				"id": "enable"
			},
			{
				"label": "Heading",
				"type": "text",
				"id": "heading"
			}
    ],
    "blocks": []
  }
{% endschema %}
