<div class="container"><div class="row"><div class="col-12">
  <div class="footer__main">

    <div class="footer__brand">
      <a href='/'>
        <img src='{{ "ELEVAI--brand--icon--copper.svg" | asset_url }}' alt='{{ shop.name }} Logo' />
      </a>
    </div>

    <nav class="footer__menu menu menu--legal">
      <ul class="menu__list">
        {% comment %}
          {% render 'content--menu', menu_handle: "legal", modifier: "legal" %}
        {% endcomment %}
        <li class="menu__item">
          <a href='mailto:contact@elevaiskincare.com'>contact@elevaiskincare.com</a>
        </li>
        <li class="menu__item">
          &copy; Copyright  {{ "now" | date: "%Y" }}
        </li>
      </ul>
    </nav>

    <nav class="footer__menu menu menu--social">
      <ul class="menu__list">
        {% assign instagram_link = settings.instagram--link | default: false %}
        {% if instagram_link %}
          <li class="menu__item">
            <a href='{{ instagram_link }}' target='_blank'>
              <img src='{{ 'ELEVAI--web-asset--instagram--black.svg' | asset_url }}' alt='Instagram Icon' />
            </a>
          </li>
        {% endif %}
        {% assign facebook_link = settings.facebook--link | default: false %}
        {% if facebook_link %}
          <li class="menu__item">
            <a href='{{ facebook_link }}' target='_blank'>
              <img src='{{ 'ELEVAI--web-asset--facebook--black.svg' | asset_url }}' alt='Facebook Icon' />
            </a>
          </li>
        {% endif %}
        {% assign twitter_link = settings.twitter--link | default: false %}
        {% if twitter_link %}
          <li class="menu__item">
            <a href='{{ twitter_link }}' target='_blank'>
              <img src='{{ 'ELEVAI--web-asset--twitter--black.svg' | asset_url }}' alt='Twitter Icon' />
            </a>
          </li>
        {% endif %}
        {% assign youtube_link = settings.youtube--link | default: false %}
        {% if youtube_link %}
          <li class="menu__item">
            <a href='{{ youtube_link }}' target='_blank'>
              <img src='{{ 'ELEVAI--web-asset--youtube--black.svg' | asset_url }}' alt='YouTube Icon' />
            </a>
          </li>
        {% endif %}
        {% assign pinterest_link = settings.pinterest--link | default: false %}
        {% if pinterest_link %}
          <li class="menu__item">
            <a href='{{ pinterest_link }}' target='_blank'>
              <img src='{{ 'ELEVAI--web-asset--pinterest--black.svg' | asset_url }}' alt='Pinterest Icon' />
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

  </div>
</div></div></div>

{% schema %}
	{
		"name": "Footer",
		"class": "section section--footer-main footer-main",
		"tag": "section",
		"settings": [
			{
				"content": "Footer",
				"type": "header"
			}
    ],
    "blocks": []
  }
{% endschema %}
