//////////////////////////////////////////////////////////
////  Body | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Body | Styles
//////////////////////////////////////////////////////////

html, body {
  height: 100%;
}

body {

  position: relative;

  a {
    transition: all 280ms;
  }

  &.sticky-footer {

    display: flex;
    flex-direction: column;

    main {
      flex: 1 0 auto;
    }

    footer {
      flex-shrink: 0;
    }

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
