//////////////////////////////////////////////////////////
////  Fonts | Styles
//////////////////////////////////////////////////////////

// ---------------------------------------- Gotham Pro | Bold

@font-face {
    font-family: 'Gotham Pro';
    src: url('./GothamPro-Bold.eot');
    src: local('GothamPro-Bold'),
        url('./GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./GothamPro-Bold.woff2') format('woff2'),
        url('./GothamPro-Bold.woff') format('woff'),
        url('./GothamPro-Bold.ttf') format('truetype'),
        url('./GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Gotham Pro | Medium

@font-face {
    font-family: 'Gotham Pro';
    src: url('./GothamPro-Medium.eot');
    src: local('GothamPro-Medium'),
        url('./GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('./GothamPro-Medium.woff2') format('woff2'),
        url('./GothamPro-Medium.woff') format('woff'),
        url('./GothamPro-Medium.ttf') format('truetype'),
        url('./GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Saol Display | Light

@font-face {
    font-family: 'Saol Display';
    src: url('./SaolDisplay-Light.eot');
    src: local('SaolDisplay-Light'),
        url('./SaolDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('./SaolDisplay-Light.woff2') format('woff2'),
        url('./SaolDisplay-Light.woff') format('woff'),
        url('./SaolDisplay-Light.ttf') format('truetype'),
        url('./SaolDisplay-Light.svg#SaolDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// ---------------------------------------- Saol Display | Light Italic

@font-face {
    font-family: 'Saol Display';
    src: url('./SaolDisplay-LightItalic.eot');
    src: local('SaolDisplay-LightItalic'),
        url('./SaolDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./SaolDisplay-LightItalic.woff2') format('woff2'),
        url('./SaolDisplay-LightItalic.woff') format('woff'),
        url('./SaolDisplay-LightItalic.ttf') format('truetype'),
        url('./SaolDisplay-LightItalic.svg#SaolDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}




