//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  text-align: center;

  .menu {

    width: 100%;
    margin: auto;
    display: inline-flex;
    height: auto;
    justify-content: center;

    &__list {
      display: block;
    }

    &--legal {

      margin: 0 auto 80px;

      a {
        color: inherit;
      }

      .menu__item {
        font-size: 14px;
        font-weight: 500;
        & + .menu__item {
          margin-top: 30px;
        }
      }

    }

    &--social {

      a {
        height: 22px;
        width: auto;
        display: block;
        &:focus,
        &:hover {
          opacity: 0.5;
        }
      }

      img {
        display: block;
        height: 100%;
        width: auto;
      }

      .menu__list {
        display: block;
      }

      .menu__item {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin: 0 15px;
      }

    }

  }

  .footer-main {
    background: $theme-lightest-grey;
    color: $theme-dark-grey;
    padding: 80px 0;
  }

  &__brand {
    width: 30px;
    height: auto;
    margin: 0 auto 75px;
    img, a {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__legal {
    width: 100%;
    p {
      font-size: 14px;
    }
  }

  &__main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .footer-main {
      padding: 50px 0;
      text-align: left;
    }

    .menu {
      width: auto;
      min-height: 100%;
      margin: 0;
      justify-content: flex-start;
      &--legal {
        order: 2;
        margin: 0 0 0 50px;
        .menu__item {
          display: inline-block;
          width: auto;
          font-size: 10px;
          & + .menu__item {
            margin: 0 0 0 40px;
          }
        }
      }
      &--social {
        order: 1;
        a {
          height: 15px;
        }
        .menu__item {
          margin: 0;
          & + .menu__item {
            margin-left: 30px;
          }
        }
      }
    }

    &__menu,
    &__brand {
      margin: 0;
    }

    &__brand {
      order: 3;
      margin-left: auto;
    }

    &__legal {
      order: 1;
      width: auto;
      p {
        font-size: 10px;
      }
    }

    &__main {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .footer
