//////////////////////////////////////////////////////////
////  Form | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {

  input,
  textarea {
    @include placeholder {
      color: #898989;
    }
    color: $theme-white;
    transition: background 280ms, color 280ms, border 280ms, opacity 280ms;
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 4px 0;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    width: 100%;
  }

  label {
    font-size: 16px;
    color: #494949;
    line-height: 1;
    font-weight: 100;
  }

  &__action {}

  &__field {
    width: 100%;
  }

  &__main {}

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    &--rude {
      display: none;
    }
  }

  &__success {
    display: none;
  }

  [data-layout="two-column"] {
    flex-flow: row wrap;
  }

	@include breakpoint(sm) {} // min width sm

	@include breakpoint(md) {} // min width md

	@include breakpoint(lg) {} // min width lg

	@include breakpoint(xl) {

  	[data-layout="two-column"] {
      flex-flow: row nowrap;
      .form__field {
        width: 48%;
        width: calc( 50% - 12px );
      }
    }

	} // min width xl

	@include breakpoint(xxl) {} // min width xxl

} // .form
