//////////////////////////////////////////////////////////
////  General | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  General | Styles
//////////////////////////////////////////////////////////

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

body {

  &.sticky--footer {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    main {
      flex: 1;
    }
  }

	@include breakpoint(sm) {} // min width sm

	@include breakpoint(md) {} // min width md

	@include breakpoint(lg) {} // min width lg

	@include breakpoint(xl) {} // min width xl

	@include breakpoint(xxl) {} // min width xxl

} // body
