//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header {

  padding: 18px 34px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 25;
  background: transparent;

  &__brand {
    height: 42px;
    width: auto;
    a,
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }
  &__main {
    display: flex;
    width: 100%;
    height: auto;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 24px 40px;

    &__brand {
      height: 75px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .header
