//////////////////////////////////////////////////////////
////  Typography | Variables
//////////////////////////////////////////////////////////

$heading-size: 32px;
$heading-size--sm: 32px;
$heading-size--md: 36px;
$heading-size--lg: 38px;
$heading-size--xl: 42px;
$heading-size--xxl: 44px;


//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
	font-family: $sans--proxima-nova;
	font-size: $theme-body-copy;
	color: $theme-dark-grey;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans--proxima-nova;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}

h1 {
  font-size: $heading-size;
  margin: 0 0 20px 0;
}

h2 {
  font-size: $heading-size * 0.8;
  margin: 0 0 18px 0;
  padding: 14px 0 0 0;
}

h3, h4, h5, h6 {
  font-size: $heading-size * 0.6;
  margin: 0 0 18px 0;
  padding: 14px 0 0 0;
}

ul, ol {
	padding-left: 15px;
}

table, p, ul, ol {
	margin: 0px 0px 24px 0px;
	&:last-child {
		margin: 0;
	}
}

table, p, ul li, ol li {}

ul li {
	list-style: disc;
	padding-left: 10px;
}

ul {
	padding-left: 24px;
}

ol li {
	list-style: decimal;
	padding-left: 8px;
}

p, li {
	@include body-copy();
}

.heading {
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  &--hero {
    font-family: $display;
    font-style: italic;
    font-size: 30px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.3;
    margin: 0;
    span {
      display: block;
      font-style: normal;
      font-size: 50px;
    }
  }
}

.message {
  font-size: 15px;
  line-height: 1.85;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  text-transform: none;
  p, li {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
  }
  &--secondary {
    font-size: 17px;
    line-height: 1.58;
  }
  &--tertiary {
    font-size: 13px;
    line-height: 1.88;
  }
}

@include breakpoint( sm ) {} // min width sm

@include breakpoint( md ) {

  h1 {
    font-size: $heading-size--md;
  }

  h2 {
    font-size: $heading-size--md * 0.8;
  }

  h3, h4, h5, h6 {
    font-size: $heading-size--md * 0.6;
  }

  .message {
    font-size: 17px;
    &--secondary {
      font-size: 19px;
    }
    &--tertiary {
      font-size: 15px;
    }
  }

} // min width md

@include breakpoint( lg ) {

  h1 {
    font-size: $heading-size--lg;
  }

  h2 {
    font-size: $heading-size--lg * 0.8;
  }

  h3, h4, h5, h6 {
    font-size: $heading-size--lg * 0.6;
  }

  .heading {
    &--hero {
      font-size: 32px;
      span {
        font-size: 70px;
      }
    }
  }

  .message {
    font-size: 20px;
    &--secondary {
      font-size: 24px;
    }
    &--tertiary {
      font-size: 16px;
    }
  }

} // min width lg

@include breakpoint( xl ) {} // min width xl

@include breakpoint( xxl ) {} // min width xxl
