//////////////////////////////////////////////////////////
////  Blockquote | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Blockquote | Styles
//////////////////////////////////////////////////////////

.blockquote {

  background: $theme-dark-grey;
  color: $theme-white;
  text-align: center;
  padding: 65px 0;
  margin: 0;

  &__heading {
    font-family: $sans--gotham;
    color: $theme-light-grey;
    padding-top: 0;
    &.heading {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.8px;
    }
    & + .blockquote__message {
      margin-top: 14px;
    }
  }

  &__icon {
    img {
      margin: auto;
    }
  }

  &__message {
    font-size: 24px;
    line-height: 1.58;
    margin: auto;
    width: 85%;
    max-width: 800px;
    &.message {
      font-weight: 100;
      font-size: 24px;
      line-height: 1.58;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 85px 0;

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .blockquote
