//////////////////////////////////////////////////////////
////  Button | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Button | Styles
//////////////////////////////////////////////////////////

.button {

  font-family: $sans--proxima-nova;
  color: $theme-white;
  transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border-radius: 0;
  justify-content: center;
  align-items: center;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }

  &--outline {
    font-family: $sans--gotham;
    border-width: 2px;
    border-style: solid;
    min-width: 140px;
    height: 40px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding-top: 1px;
    line-height: 1;
  }

  @each $color-name, $color-value in $theme-colours {
    &[data-colour-theme='#{$color-name}'] {
      &.button {
        &--outline {
          border-color: $color-value;
          color: $color-value;
          &:hover {
            background: $color-value;
            color: $theme-white;
          }
        }
      }
    }
  }

  @include breakpoint(sm) {

  } // min width sm

  @include breakpoint(md) {

  } // min width md

  @include breakpoint(lg) {

    &--outline {
      min-width: 170px;
      height: 50px;
    }

  } // min width lg

  @include breakpoint(xl) {

  } // min width xl

  @include breakpoint(xxl) {

  } // min width xxl

} // .button
