//////////////////////////////////////////////////////////
////  Collapsible | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Collapsible | Styles
//////////////////////////////////////////////////////////

.collapsible {

  &__button {
    color: $theme-dark-grey;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: flex-start;
    margin: 32px 0 0 0;
    &.collapsed {
      .collapsible__button-icon {
        background: $theme-copper;
      }
    }
  }

  &__button-icon,
  &__button-copy {
    display: block;
  }

  &__button-icon {
    background: $theme-dark-grey;
    border-radius: 100px;
    height: 6px;
    width: 6px;
    margin-right: 10px;
  }

  &__padding {
    padding: 30px 0 0 0;
    margin: 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .collapsible
