//////////////////////////////////////////////////////////
////  Call to Action | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Call to Action | Styles
//////////////////////////////////////////////////////////

.cta {

  a {
    transition: background 280ms, border 280ms, color 280ms, opacity 280ms;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-stretch: normal;
    display: inline-flex;
    padding: 0;
    margin: 0;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }

  &--outline {
    a {
      font-family: $sans--gotham;
      border-width: 2px;
      border-style: solid;
      min-width: 140px;
      height: 40px;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      padding-top: 1px;
      line-height: 1;
    }
  }

  @each $color-name, $color-value in $theme-colours {
    &[data-colour-theme='#{$color-name}'] {
      &.cta--outline {
        a {
          border-color: $color-value;
          color: $color-value;
          &:hover {
            background: $color-value;
            color: $theme-white;
          }
        }
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--outline {
      a {
        min-width: 170px;
        height: 50px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .cta
