//////////////////////////////////////////////////////////
////  Hero | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Hero | Styles
//////////////////////////////////////////////////////////

.hero {

  background: #cccccc;
  height: 100%;
  min-height: 100%;
  position: relative;

  &__heading,
  &__message {
    & + .cta {
      margin-top: 28px;
    }
  }

  &__content {
    padding-bottom: 12.5%;
  }

  &__heading {
    & + .hero__message {
      margin-top: 10px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    &--mobile {
      margin-top: -50px;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &--desktop {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
    }
  }

  &__main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    margin-top: -35px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    height: 100vh;

    &__content {
      flex: 1;
      padding-bottom: 0;
    }

    &__image {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }

    &__heading {
      & + .hero__message {
        margin-top: 20px;
      }
    }

    &__main {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: auto;
      position: absolute;
      height: 100%;
      bottom: 0;
      left: 0;
      z-index: 10;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      margin: 0;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .hero
