//////////////////////////////////////////////////////////
////  Image with Text | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Image with Text | Styles
//////////////////////////////////////////////////////////

.image-with-text {

  background: $theme-off-white;
  padding: 75px 0;

  &__content {
    width: 100%;
    display: block;
    padding: 65px 0 0 0;
    &--image {
      padding: 0;
    }
  }

  &__heading {
    padding-top: 0;
    & + .image-with-text__message {
      margin-top: 38px;
    }
  }

  &__main {

    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row wrap;

    &--image-left {}

    &--image-right {}

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 100px 0;

    &__content {
      width: 50%;
      padding: 0;
      &--text {}
    }

    &__main {
      flex-flow: row nowrap;
      align-items: center;
      &--image-left {
        .image-with-text__content {
          &--image {
            order: 1;
          }
          &--text {
            order: 2;
            padding: 0 ($theme-two-column-offset--lg + 30px) 0 $theme-two-column-offset--lg;
          }
        }
      }
      &--image-right {
        .image-with-text__content {
          &--image {
            order: 2;
          }
          &--text {
            order: 1;
          }
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__content {
      &--text {
        padding: 0 60px;
      }
    }

    &__main {
      &--image-left {
        .image-with-text__content {
          &--image {}
          &--text {
            padding: 0 ($theme-two-column-offset--xl + 30px) 0 $theme-two-column-offset--xl;
          }
        }
      }
      &--image-right {
        .image-with-text__content {
          &--image {}
          &--text {}
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    padding: 120px 0;

    &__content {
      &--text {}
    }

    &__main {
      &--image-left {
        .image-with-text__content {
          &--image {}
          &--text {
            padding: 0 ($theme-two-column-offset--xxl + 30px) 0 $theme-two-column-offset--xxl;
          }
        }
      }
      &--image-right {
        .image-with-text__content {
          &--image {}
          &--text {}
        }
      }
    }

  } // min width xxl

} // .image-with-text
