//////////////////////////////////////////////////////////
////  Lazy Loader | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Lazy Loader | Styles
//////////////////////////////////////////////////////////

.lazyload-item {

	transition: all 280ms 80ms;
	opacity: 0;
	display: block;

	&--inline {
  	height: auto;
  	width: 100%;
	}

  &--background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &.lazyload-item--image {
      @include background ( cover );
    }
    &.lazyload-item--video {
      object-fit: cover;
		  object-position: center center;
    }
  }

  &--image {}

  &--video {}

	&.lazyloaded {
    opacity: 1;
	}

	@include breakpoint(sm) {} // min width sm

	@include breakpoint(md) {} // min width md

	@include breakpoint(lg) {} // min width lg

	@include breakpoint(xl) {} // min width xl

	@include breakpoint(xxl) {} // min width xl

} // .lazyload-item
