//////////////////////////////////////////////////////////
////  Newsletter | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Newsletter | Styles
//////////////////////////////////////////////////////////

.newsletter {

  background: $theme-dark-grey;
  color: $theme-white;
  padding: 45px 0 65px;
  text-align: center;

  .form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    input {
      border-bottom: 1px solid $theme-white;
    }

    &__action {
      margin-left: 10px;
      width: auto;
    }
    &__button {
      &:focus,
      &:hover {
        opacity: 0.5;
      }
    }
    &__main {
      width: 180px;
    }

  }

  &__heading {
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-transform: none;
    margin: 0 0 16px 0;
    &.heading {
      font-weight: 100;
    }
  }

  @include breakpoint(sm) {

    .form {
      &__action {

      }
      &__main {
        width: 210px;
      }
    }

  } // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 55px 0 85px;

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .newsletter
