//////////////////////////////////////////////////////////
////  Popup Newsletter | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Popup Newsletter | Styles
//////////////////////////////////////////////////////////

.popup-newsletter {

  // ---------------------------------------- Form
  .form {

    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: $theme-dark-grey;
      font-family: $sans--gotham;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 1.5px;
      padding: 0 10px;
      padding-top: 11px;
      height: 38px;
      &:hover {
        opacity: 0.5;
      }
    }

    input {
      @include placeholder {
        color: #898989;
        font-family: $sans--proxima-nova;
        font-size: 16px;
        font-weight: 100;
      }
      color: $theme-dark-grey;
      border-bottom: 1px solid $theme-dark-grey;
      width: 160px;
    }

    &__action,
    &__row {
      width: auto;
    }

    &__row {
      width: 180px;
    }

  }

  // ---------------------------------------- Modal
  .modal {

    text-align: center;

    &__brand,
    &__message {
      & + .form {
        margin-top: 40px;
      }
    }

    &__brand {
      width: 38px;
      height: auto;
      margin: auto;
      a, img {
        display: block;
        width: 100%;
        height: auto;
      }
      & + .modal__message {
        margin-top: 32px;
      }
    }

    &__button {
      top: $theme-gutter;
      right: $theme-gutter;
      height: 14px;
      width: 14px;
      position: absolute;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      &:hover {
        opacity: 0.33;
      }
    }

    &__container {
      background: $theme-white;
      color: $theme-dark-grey;
      padding: 48px $theme-gutter 68px;
      position: relative;
      height: auto;
      width: 85%;
      max-width: 640px;
    }

    &__content {
      margin: 0;
      padding: 0;
    }

    &__message {
      font-size: 20px;
      line-height: 1.4166;
      letter-spacing: normal;
      font-weight: 100;
      color: #2C2C2C;
      width: 100%;
      margin: auto;
      p, li {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }

    &__overlay {
      background: rgba( #555555, 0.75 );
    }

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    // ---------------------------------------- Form
    .form {
      input {
        width: 200px;
      }
      &__row {
        width: 200px;
      }
    }

    // ---------------------------------------- Modal
    .modal {
      &__container {
        padding: 68px $theme-gutter 98px;
      }
      &__message {
        width: 80%;
        font-size: 24px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .popup-newsletter
