//////////////////////////////////////////////////////////
////  Pre Order | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Pre Order | Styles
//////////////////////////////////////////////////////////

.pre-order {

  // ---------------------------------------- Form
  .form {

    margin-top: 42px;

    .error {
      input,
      textarea {
        border: 1px solid $theme-copper;
      }
    }

    button {
      font-family: $sans--gotham;
      border: 2px solid $theme-dark-grey;
      color: $theme-dark-grey;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 0.9;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      min-width: 175px;
      font-size: 12px;
      letter-spacing: 1.8px;
      padding-top: 2px;
      &:hover {
        background: $theme-dark-grey;
        color: $theme-white;
      }
    }

    input {
      height: 42px;
    }

    input,
    textarea {
      background: $theme-white;
      color: $theme-black;
      padding: 8px;
    }

    textarea {
      min-height: 100px;
    }

    &__action {
      margin-top: 30px;
    }

    &__row {
      & + .form__row {
        margin-top: 22px;
      }
    }

    [data-layout="two-column"] {
      .form__field + .form__field {
        margin-top: 22px;
      }
    }

  }

  // ---------------------------------------- Image with Text
  .image-with-text {

    &__heading {
      font-family: $display;
      font-size: 38px;
      font-weight: 300;
      letter-spacing: -0.58px;
      line-height: 1.2888;
      text-transform: none;
      & + .image-with-text__message {
        margin-top: 15px;
      }
    }

    &__message {
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1.9411;
    }

  }

  // ---------------------------------------- Flexible Content
  &.flexible-content {

    background: $theme-off-white;

    .cta {
      margin-top: 45px;
      text-align: center;
      a {
        min-width: 160px;
        font-size: 14px;
        letter-spacing: 2;
      }
    }

    .pre-order {

      &__heading,
      &__subheading {
        & + .pre-order__message {
          margin-top: 22px;
        }
      }

      &__brand {
        width: 28px;
        height: auto;
        margin: auto;
        & + .pre-order__heading.heading {
          margin-top: 10px;
        }
      }

      &__heading {
        font-family: $display;
        &.heading {
          color: $theme-black;
          font-weight: 100;
          text-transform: none;
          font-size: 32px;
          margin: 0;
          padding: 0;
          line-height: 1;
        }
        & + .pre-order__subheading {
          margin-top: 18px;
        }
      }

      &__keynote {
        text-align: center;
        & + .pre-order__keynote {
          margin-top: 68px;
        }
      }

      &__message {
        font-family: $sans--proxima-nova;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 1.8;
        width: 85%;
        margin: 0 auto;
        max-width: 370px;
      }

      &__subheading {
        color: $theme-copper;
        font-family: $sans--gotham;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

    }

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    // ---------------------------------------- Form
    .form {
      margin-top: 48px;
      &__action {
        margin-top: 35px;
      }
      &__row {
        & + .form__row {
          margin-top: 24px;
        }
      }
    }

    // ---------------------------------------- Image with Text
    .image-with-text {
      text-align: left;
      &__heading {
        font-size: 45px;
      }
      &__main--image-left {
        .image-with-text__content--text {
          padding-right: 0;
        }
      }
    }

    // ---------------------------------------- Flexible Content
    &.flexible-content {

      .cta {
        margin-top: 60px;
        a {
          min-width: 200px;
          font-size: 14px;
        }
      }

      .pre-order {

        &__keynote {
          & + .pre-order__keynote {
            margin-top: 90px;
          }
        }

        &__message {}

        &__subheading {}

      }

    }

  } // min width lg

  @include breakpoint(xl) {

    // ---------------------------------------- Form
    .form {
       margin-top: 60px;
      [data-layout="two-column"] {
        .form__field + .form__field {
          margin-top: 0;
        }
      }

    }

  } // min width xl

  @include breakpoint(xxl) {

    // ---------------------------------------- Form
    .form {

      &__action {
        margin-top: 40px;
      }

      &__row {
        & + .form__row {
          margin-top: 26px;
        }
      }

    }

  } // min width xxl

} // .pre-order
