//////////////////////////////////////////////////////////
////  Team Member | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Team Member | Styles
//////////////////////////////////////////////////////////

.team-member {

  padding: 100px 0;

  &__bio {
    margin: 25px 0 0 0;
    &--expanded {
      margin: 0;
    }
  }

  &__item {
    &:not([data-count="1"]) {
      margin-top: 65px;
    }
  }

  &__job-title {
    font-size: 13px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #838383;
    display: block;
    font-style: italic;
  }

  &__profile-picture {
    background: rgba( $theme-dark-grey, 0.15 );
    height: 80px;
    width: 80px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 0 30px 0;
  }

  &__name {
    border-bottom: 1px solid $theme-copper;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 0 10px 0;
    & + .team-member__job-title {
      margin-top: -4px;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 125px 0;

    &__item {
      &--even {
        padding-left: $theme-two-column-offset--lg;
      }
      &--odd {
        padding-right: $theme-two-column-offset--lg;
      }
      &:not([data-count="1"]) {
        margin-top: 0;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__item {
      &--even {
        padding-left: $theme-two-column-offset--xl;
      }
      &--odd {
        padding-right: $theme-two-column-offset--xl;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__item {
      &--even {
        padding-left: $theme-two-column-offset--xxl;
      }
      &--odd {
        padding-right: $theme-two-column-offset--xxl;
      }
    }

  } // min width xxl

} // .team-member
