//////////////////////////////////////////////////////////
////  Text Feature | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Text Feature | Styles
//////////////////////////////////////////////////////////

.text-feature {

  background: $theme-off-white;
  text-align: center;

  &__brand {
    width: 112px;
    height: auto;
    margin: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .text-feature__heading,
    & + .text-feature__message,
    & + .text-feature__subheading {
      margin-top: 32px;
    }
  }

  &__heading,
  &__subheading {
    & + .text-feature__message {
      margin-top: 35px;
    }
  }

  &__heading {
    font-family: $display;
    &.heading {
      text-transform: none;
      font-size: 34px;
      letter-spacing: -0.66px;
      line-height: 1.14;
      font-weight: 100;
      padding: 0;
      margin-bottom: 0;
    }
    & + .text-feature__message,
    & + .text-feature__subheading {
      margin-top: 12px;
    }
  }

  &__message {
    width: 85%;
    margin: auto;
    max-width: 870px;
  }

  &__subheading {
    font-family: $sans--proxima-nova;
    color: $theme-dark-grey;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.7;
    padding: 0;
    width: 85%;
    margin: 0 auto;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__brand {
      & + .text-feature__heading,
      & + .text-feature__message,
      & + .text-feature__subheading {
        margin-top: 50px;
      }
    }

    &__heading {
      &.heading {
        font-size: 50px;
      }
    }

    &__subheading {
      font-size: 19px;
    }


  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .text-feature
