//////////////////////////////////////////////////////////
////  Thank You | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Thank You | Styles
//////////////////////////////////////////////////////////

.page--thank-you[role="main"] {
  background: $theme-off-white;
}

.thank-you {

  .image-with-text {

    color: $theme-dark-grey;
    text-align: center;

    &__heading {
      font-family: $display;
      font-size: 38px;
      font-weight: 300;
      letter-spacing: -0.58px;
      line-height: 1.2888;
      text-transform: none;
      & + .image-with-text__message {
        margin-top: 15px;
      }
    }

    &__icon {
      &.icon {
        display: none;
      }
    }

    &__message {
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1.9411;
    }

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .image-with-text {

      text-align: left;

      &__heading {
        font-size: 45px;
      }

    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
