{% assign heading = settings.error-404--heading | default: "Error 404" %}
{% assign message = settings.error-404--message | default "Let us take you <a href='/'>home</a>." %}

<section class="section section--404">
  <div class="section__main">
    <div class="container"><div class="row"><div class="col-10 offset-1">
    	<h1>{{ heading }}</h1>
    	<div>{{ message }}</div>
    </div></div></div>
  </div>
</section>

