{% if cart.item_count > 0 %}

  <section class="section section--intro">
    <div class="container"><div class="row"><div class="col-12">
  		<h1>Your Order</h1>
  	</div></div></div>
  </section>

  <section class="section section--cart">
    <div class="container"><div class="row"><div class="col-12">

      <form class="cart" action="/cart" method="post" novalidate>

        <div class="cart__header">
          <div class="cart__row">
            <div class="cart__col cart__col--item"></div>
            <div class="cart__col cart__col--price">Price</div>
            <div class="cart__col cart__col--qty">Qty</div>
            <div class="cart__col cart__col--total">Total</div>
          </div>
        </div>

        <div class="cart__body">
          {% for item in cart.items %}
            <div class="cart__row">
              <div class="cart__col cart__col--item">
                <a href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                  {{ item.product.title }}
                  {{ item.variant.title }}
                </a>
              </div>
              <div class="cart__col cart__col--price">{{ item.price | money }}</div>
              <div class="cart__col cart__col--qty">
                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
              </div>
              <div class="cart__col cart__col--total">
                {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                  {{ item.line_price | money }}
                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="cart__footer">
          <p>sub total : {{ cart.total_price | money }}</p>
          <button type="submit" name="update">Update</button>
          <button type="submit" name="checkout">Checkout</button>
        </div>

      </form>

  	</div></div></div>
  </section>

{% else %}

  <section class="section section--intro">
    <div class="container"><div class="row"><div class="col-12">
      <h1>Your Cart is Empty.</h1>
      <p>Let's <a href='/collections/all'>change that.</a></p>
    </div></div></div>
  </section>

{% endif %}


