<section class="section section--intro">
  <div class="container"><div class="row"><div class="col-10 offset-1">
		<h1>{{ page.title }}</h1>
	</div></div></div>
</section>

<section class="section section--main">
  <div class="container"><div class="row"><div class="col-10 offset-1">
    <div class="message rte">
      {{ page.content }}
    </div>
  </div></div></div>
</section>
